/* start general styles */
.bg-green {
    background-color:  #026670;
    color: #fff;
}
.bg-offwhite {
    background-color:  #f9f9f9;
}
.color-green {
    color:#026670;
}
/* end general styles */

/* start bootstarp form */
.has-error {
    border:1px solid red;
}
/* end bootstrap form */

/* start header styles */
.header-top {
    font-size: 12px;
    background-color: #026670;
    color:#fff;
    padding:5px 0px;
}

.header-top a {
    color:#fff;
}

.header-mid {
    background-color: #edeae5;
}

.navbar-brand {
    color:#026670;
    font-size: 30px;
}
.navbar-brand:hover {
    color:#e98074;
}

.btn-outline-secondary:hover {
    background-color: #e98074;
}

.cart-link {
    color: #026670;
}
.cart-link:hover {
    color: #e98074;
}

.auth-text {
    font-size: 12px;
}

.cart-seprator {
    border: 1px solid #ccc;
}

.header-bottom {
    background-color: #f9f9f9;
    padding: 10px;
    color: #026670;
}

.header-bottom a {
    color: #026670;
    padding:5px 5px;
}
.header-bottom a:hover {
    color: #e98074;
    background-color: #026670;
}

/* end header styles */

/* start navbar styles */
.bg-light {
    background-color: #fff !important;
}

.navbar-nav .active>.nav-link {
    color: #026670 !important;
}

.dropdown-menu-modify {
    border:0px;
    border-top:1px solid #026670;
    border-radius: 0px;
    text-align: center;
}

.dropdown-item-modify {
    color:rgba(0,0,0,.5) !important;
}

.dropdown-item-modify:hover {
    background-color: #fff !important;
    color: black !important; 
}

.nav-item-modify {
    height: 40px;
}

.cart-counter {
    position: relative;
    top: -40px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 15px;
    color: #fff;
    font-size: 12px;
    background: #026670;
    left:20px;
}
/* end navbar styles */

/* start featured-brands  */
.slider {
    background-color: #fff;
    padding:50px 0;
}
/* end featured-brands  */


/* start brand  */
.brand {
    padding: 80px 0;
}

.brand-title {
    border-left: 3px solid #026670;
    width: 200px;
    background-color: #f9f9f9;

}

.brand-image {
    max-width: 100%;
    min-height:300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}

.brand-description {
    margin-top: 0;
    line-height: 1;
    font-weight: 700;
    font-size: 1.8rem;
    height: auto;
    color: #026670;
}

.price-unit {
    font-size: 1rem;
    color: #026670;
}


.bg-gray {
    background-color: #f9f9f9;
    border: 20px solid #ffffff;
}
.bg-graay {
    background-color: #f9f9f9;
}
@media (max-width:992px) {
    .bg-gray {
        margin-bottom: 30px;
    }
}

@media (min-width:992px) {
    .full-height {
        height: 100%;
    }
    .half-height {
        height: 50%;
    }
}

.product-item {
    padding: 40px;
}


/* start footer section */
.footer {
    padding-top: 50px;
}

.social {
    display: inline-block;
}

.footer-overlay {
    background-color: #f9f9f9;
    margin-top: -50px;
    padding-top: 50px;
}

.footer-content {
    padding-bottom:50px;
}

.footer-heading-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 84px;
}

.footer .links {
    color: #343a40;
}

.footer .links a {
    color: #343a40;
}

.social-icons a {
    width: 35px;
    height: 35px;
    display: block;
    margin: 0 5px;
    text-align: center;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 19px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.social-icons a:hover {
    background: #026670;
    color: #fff;
}
.footer-links a {
    color: #026670;
}

/* end footer section */

/* start login section */
.login {
    margin:50px 0;
}

.login-box {
    border: 1px solid #026670;
    border-radius: 3px;
    padding: 20px;
}

.rose {
    background-color: #026670;
    color: #fff;
}

.sm-font-size {
    font-size: 10px;
}

.md-font-size {
    font-size: 14px;
}

/* end login section */

/* start product page */
.separator {
    background-color: #f9f9f9;
    height: 60px;
}

.product-heading {
    font-size: 1.2857142857rem;
    font-weight: 700;
    margin-bottom: .3571428571rem;
}

.star:before {
    content:'\2605';
}

/* .slider {
    border: 1px solid #ccc;
} */

.slick-prev:before, .slick-next:before {
    color:gray;
}

.slick-slide {
    opacity: .6;
}
.slick-current {
    opacity: 1;
}
/* end product page */


/* start cart page */
.cart-item {
    background-color: #f9f9f9;
    margin:10px;
    padding: 10px;
    border-radius: 5px;
}
.total-price {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
}


/* end cart page */

/* start checkout page */
.shipping {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
}
.billing {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
}
/* end checkout page */

/* start check page */
.thankyou {
    margin:120px auto;
}

.check-icon {
    font-size: 20px;
    background-color: green;
    border-radius: 50%;
    font-size: 50px;
    padding: 10px;
    margin: 20px;
}
/* end check page */

/* start contact page */
.contact-links a {
    color: #343a40;
}
.darker-cover {
    background-color: #fff;
}
/* end contact page  */


/* start filter page */
#filters .filter-title::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f106";
    float: right; 
}

#filters .filter-title.collapsed::after {
    content: "\f107"; 
}
/* end filter page */

/* start category page */
.category-items {
    background-color: #f9f9f9;
    color: #026670;
    padding: 20px 0px;
    margin: 20px 0px;
}

.category-items ul {
    list-style: none;
    padding: 2px 20px;
}

.category-items li {
    list-style: none;
    padding: 2px;
}


.category-items a{
    color: #026670;
}
/* end category page */