<template>
    <router-view></router-view>
</template>

<script>
export default {
  mounted: function () {
      console.log('App Mounted.');
  }, 
  methods: {
    getLanguage: function () {
      axios.post('/api/getLanguage')
        .then((response) => {this.language = response.data.language;});
    }
  }
}
</script>