<template>
<div>
    <siteheader></siteheader>

    <!-- start cart -->
    <div class="cart p-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h3>Shoping Cart (0)</h3>
            <div class="cart-item">
              <div class="cart-item-info">
                <div class="row">
                  <div class="col-lg-2" style="max-height: 300px;">
                    <img src="images/products/bosch_2.png" style="max-height: 100%;max-width: 100%;">
                  </div>
                  <div class="col-lg-10">
                    <a href="#">
                      <h6>Resistance Hand Grip For Strength Training With Foam Handles</h6>
                    </a>
                    <div class="row">
                      <div class="col-lg-9">
                        <p>185.00 <span> &nbsp; EGP</span></p>
                      </div>
                      <div class="col-lg-3 text-right">
                      <span class="d-inline">QTY </span>
                      <select class="d-inline">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                      </select>
                      </div>
                    </div>
                    <hr>
                    <a href="#">delete</a>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-item">
              <div class="cart-item-info">
                <div class="row">
                  <div class="col-lg-2" style="max-height: 300px;">
                    <img src="images/products/bosch_2.png" style="max-height: 100%;max-width: 100%;">
                  </div>
                  <div class="col-lg-10">
                    <a href="#">
                      <h6>Resistance Hand Grip For Strength Training With Foam Handles</h6>
                    </a>
                    <div class="row">
                      <div class="col-lg-9">
                        <p>185.00 <span> &nbsp; EGP</span></p>
                      </div>
                      <div class="col-lg-3 text-right">
                      <span class="d-inline">QTY </span>
                      <select class="d-inline">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                      </select>
                      </div>
                    </div>
                    <hr>
                    <a href="#">delete</a>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-item">
              <div class="cart-item-info">
                <div class="row">
                  <div class="col-lg-2" style="max-height: 300px;">
                    <img src="images/products/bosch_2.png" style="max-height: 100%;max-width: 100%;">
                  </div>
                  <div class="col-lg-10">
                    <a href="#">
                      <h6>Resistance Hand Grip For Strength Training With Foam Handles</h6>
                    </a>
                    <div class="row">
                      <div class="col-lg-9">
                        <p>185.00 <span> &nbsp; EGP</span></p>
                      </div>
                      <div class="col-lg-3 text-right">
                      <span class="d-inline">QTY </span>
                      <select class="d-inline">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                      </select>
                      </div>
                    </div>
                    <hr>
                    <a href="#">delete</a>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="total-price">
              <h4>Total:</h4>
              <p> 176.44 EGP</p> 
            </div>
            <a href="#" class="btn btn-block btn-danger">Proceed to Checkout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end cart -->


    <sitefooter></sitefooter>
</div>
</template>

<script>
import siteheader from './layouts/site-header';
import sitefooter from './layouts/site-footer';

export default {
    components: {
        siteheader,
        sitefooter 
    }
}
</script>