<template>

<div>
    <siteheader></siteheader>

    <!-- start slider -->
    <div class="slider d-none d-md-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div  v-for="(item, index) in sliders" :key="item.id" :class="['carousel-item', (index === 0 ? 'active' : '')]" >  
                  <img class="d-block w-100" :src="item.image" alt="First slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end slider -->

    <!-- start featured-area -->
    <div class="featured-brands mt-4">
      <div class="container h-200">
        <div class="row ">
          <div v class="col-6 mb-4" v-for="item in featured" :key="item.id"  >
            <a href=""><img :src="item.image" alt="" style="max-width: 100%; max-height: 100%;"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- end feattured-area -->

    <div class="brand m-3 p-3">
      <div class="container">
        <div class="brand-title mb-5">
          <img src="images/brands/bosch.png" alt="" style="max-width: 100%;max-height: 100%;">
        </div>
        <div class="row p-5 bg-offwhite text-center text-lg-left">
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/bosch_1.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/bosch_2.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/bosch_3.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/bosch_2.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
        </div>
      </div>
    </div>


    <div class="brand m-3 p-3">
      <div class="container">
        <div class="brand-title mb-5">
          <img src="images/brands/crown.png" alt="" style="max-width: 100%;max-height: 100%;">
        </div>
        <div class="row p-5 bg-offwhite text-center text-lg-left">
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/crown.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/crown_2.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/crown_3.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/crown.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
        </div>
      </div>
    </div>


    <div class="brand m-3 p-3">
      <div class="container">
        <div class="brand-title mb-5">
          <img src="images/brands/dewalt.png" alt="" style="max-width: 100%;max-height: 100%;">
        </div>
        <div class="row p-5 bg-offwhite text-center text-lg-left">
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/dewalt.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/dewalt_1.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/dewalt.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
          <div class="col-lg-3 pt-4 pb-4">
            <div class="brand-image" style="background-image: url('images/products/dewalt_1.png');"></div>
            <p>Hot 8 Dual SIM Quetzal Cyan 64GB 4GB RAM 4G LTE</p>
            <h3 class="brand-description">48 <span class="price-unit">pound</span></h3>
          </div>
        </div>
      </div>
    </div>

    <sitefooter></sitefooter>
</div>
</template>

<script>
import siteheader from './layouts/site-header';
import sitefooter from './layouts/site-footer';

export default {
  data: function () {
    return {
      sliders: [],
      featured: [],
    }
  },
  mounted: function () {
    this.getSliders();
    this.getFeatured();
  },
  components: {
      siteheader,
      sitefooter 
  },
  methods: {
    getSliders: function () {
      axios.post('/api/getSliders')
        .then((response) => {this.sliders = response.data.sliders; console.log(response)})
    },
    getFeatured: function () {
      axios.post('/api/getFeatured')
        .then((response) => {this.featured = response.data.featured;})
    }
  }
}
</script>