<template>
<div>
    <!-- start header-top -->
    <div class="header-top">
      <div class="container d-flex  justify-content-between">
        <span>
          <i class="fas fa-shipping-fast"></i> Free Shipping &nbsp;
          <i class="fas fa-undo-alt"></i> Free Returns &nbsp;
          <i class="fas fa-dollar-sign"></i> Cash On Delivery &nbsp;
        </span>

        <span>
          <img src="/assets/images/egypt.png" alt="" width="25px"> &nbsp; | &nbsp; <a href="#">العربية</a>
        </span>
      </div> 
    </div>
    <!-- end header-top -->

    <!-- start header-mid -->
    <div class="header-mid">
      <div class="container">
        <nav class="navbar navbar-expand-lg row">
          <div class="col-xl-2 col-lg-2 col-md-5 col-12  pb-md-0 pb-4">
            <a class="navbar-brand" href="/">Mueaddat</a>
          </div>
          <div class="col-xl-6 col-lg-5 d-none d-lg-block ml-3 ">
            <div class="input-group">
              <input v-on:keyup="search" v-model="keyword" type="text" class="form-control" placeholder="What are you looking for?" aria-label="search for?" aria-describedby="search website">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
              </div>
            </div>

            <ul class="list-group" v-if="products" style="z-index:9999;position:absolute;min-width:100%;margin-right:15px;">
              <li class="list-group-item" v-for="product in products"  v-bind:key="product.id">{{product.name}}</li>
            </ul>
          </div>

          <div class="col-xl-4 col-lg-5 col-md-7 col-12 ">
            <div class="btn-group">
              <button type="button" class="btn bg-green dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login or Register
              </button>
              <div class="dropdown-menu text-center p-4">
                <p class="auth-text ">Returning Customer</p>
                <a class="btn btn-sm bg-green" href="login.html">Login</a>
                <hr>
                <p class="auth-text text-center">Don't have an account?</p>
                <a class="btn btn-sm bg-green" href="register.html">Register</a>
              </div>
            </div>
            &nbsp; <span class="cart-seprator"></span> &nbsp;
            <i class="fas fa-shopping-cart"></i>&nbsp; <a href="cart.html" class="cart-link"><span class="badge badge-warning">9</span> items in Cart</a> 
          </div>
        </nav>
      </div> 
    </div>
    <!-- end header-mid -->

    <div class="header-bottom">
      <div class="container">
        <span>
          <small v-for="category in categories" :key="category.id"><a :href="category.link">{{category.name | capitalize }}</a></small>
        </span>
      </div> 
    </div>
    <!-- end header-bottom -->
</div>
</template>

<script>
export default {
  mounted: function () {
    this.getMainCategories();
  },
  data: function () {
    return {
      keyword: '',
      products: [],
      categories: [],
      sliders: []
    }
  },
  methods: {
    search : function () {
      axios.get('/api/search', { params: {keyword: this.keyword} })
        .then( response => this.products = response.data.data)
    },
    getMainCategories: function () {
      axios.post('/api/getMainCategories', {language: 'ar'})
        .then((response) => {this.categories = response.data.categories;});
    },
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  }
}
</script>