<template>
<div>
        <!-- start footer  -->
    <footer class="footer bg-cover" >
      <div class="footer-overlay">
        <div class="container footer-content">
          <div class="row justify-content-between">
            <div class="col-md-6 order-lg-1 order-2">
              <div class="row justify-content-between">
                <div class="col-md-6 text-md-left text-center pb-3">
                  <div class="links">
                    <h5>Shopping Guide</h5>
                    <ul class="list-unstyled footer-links">
                      <li><a href="#"> Dewalt</a></li>
                      <li><a href="#"> Bosch</a></li>
                      <li><a href="#"> Dewalt</a></li>
                      <li><a href="#"> Bosch</a></li>
                      <li><a href="#"> Dewalt</a></li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-6 text-md-left text-center pb-3">
                  <div class="links">
                    <h5>My Account</h5>
                    <ul class="list-unstyled footer-links">
                      <li><a href="#"> Logout</a></li>
                      <li><a href="#"> Login </a> / <a href="#"> Register</a></li>
                      <li><a href="#"> My Cart</a></li>
                      <li><a href="#"> My Account</a></li>
                      <li><a href="#"> My Address</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center pb-3">
              <p class="footer-heading-text color-green">
                Mueaddat
              </p>
              <div class="social">
                <ul class="list-unstyled d-flex align-items-center social-icons">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
        </div>
        
        <div class="container footer-content h-200">
          <div class="row justify-content-between align-items-center" >
            <div class="col-md-2 col-sm-3 col-4 " v-for="brand in brands" :key="brand.id">
              <a href=""><img :src="brand.image" alt="" style="max-width: 100%; max-height: 100%;"></a>
            </div>
          </div>
        </div>

        <div style="background-color: rgba(0, 0, 0, 0.1); padding: 20px 0;">
          <div class="container d-flex  justify-content-between footer-links">
            <span>©  {{ new Date().getFullYear() }} Mueaddat. All rights reserved</span>
            <span><a href="#">About Us</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a></span>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer  -->
</div>
</template>

<script>
export default {
  mounted: function () {
    this.getBrands();
  },
  data: function () {
    return {
      brands: []
    }
  },
  methods: {
    getBrands: function () {
      axios.post('/api/getBrands')
        .then((response) => {this.brands = response.data.brands;})
    }
  }
}
</script>